<launch>
    <arg name="model" default="waffle_pi" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="-3.0"/>
    <arg name="y_pos" default="1.0"/>
    <arg name="z_pos" default="0.0"/>

    <include file="$(find robutler_bringup)/launch/gazebo.launch" />

    <include file="$(find robutler_bringup)/launch/spawn.launch">
        <arg name="model" value="$(arg model)"/>
        <arg name="x_pos" value="$(arg x_pos)"/>
        <arg name="y_pos" value="$(arg y_pos)"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
    </include>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find robutler_bringup)/maps/small_house_map.yaml" />

    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <param name="map_topic" value="/map" />
        <param name="odom_frame_id" value="odom" />
        <param name="base_frame_id" value="base_link" />
        <param name="global_costmap/robot_base_frame" value="base_footprint" />
        <param name="local_costmap/robot_base_frame" value="base_footprint" />
    </node>

    <node name="base_link_to_scan" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_scan 100" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <include file="$(find robutler_bringup)/launch/visualize.launch" />

</launch>