<?xml version="1.0"?>
<launch>
    <arg name="enable_voice" default="false" />
    
    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard" output="screen">
        <remap from="cmd_vel" to="/cmd_vel"/>
        <param name="scale_linear" value="0.3" type="double"/>
        <param name="scale_angular" value="1.5" type="double"/>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        
        <rosparam file="$(find robutler_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find robutler_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        
        <rosparam file="$(find robutler_navigation)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find robutler_navigation)/param/global_costmap_params.yaml" command="load" />
        
        <rosparam file="$(find robutler_navigation)/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find robutler_navigation)/param/dwa_local_planner_params.yaml" command="load" />
        
        <remap from="cmd_vel" to="/cmd_vel"/>
        <remap from="odom" to="/odom"/>
    </node>

    <node pkg="robutler_navigation" type="semantic.py" name="semantic_navigator" output="screen">
        <param name="locations_file" value="$(find robutler_bringup)/config/semantic_locations.yaml"/>
    </node>

    <node pkg="robutler_navigation" type="coordinate.py" name="common_navigator" output="screen">
    </node>

    <group if="$(arg enable_voice)">
        <node pkg="robutler_speech" type="main.py" name="speech_recognition" output="screen">
            <env name="PYTHONWARNINGS" value="ignore:ResourceWarning"/>
        </node>
    </group>
    
</launch>